*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@import url(fonts.css);






:root{
    --IM:"Inter-Medium";
    --IR:"Inter-Regular";
    --PoppM:"Poppins-Medium";
    --PoppR:"Poppins-Regular";
    --PoppSB:"Poppins-SemiBold";
    --PTSR:"PTSefir-Regular";
    --PubSR:"PublicSans-Regular";
    --RoboM:"Roboto-Medium" ;
}


body{
    background: white;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


/* NAV */




.nav__icon:hover{
  color: black;
}

.nav__icon{
    font-family: var(--IR);
    padding: 0 0 9px 0;
    position: relative;
    display: block;
    margin: 0 32.5px;
    font-size: 16px;
    line-height: 19px;
    color:  #616364;
    transition: 0.5s;
}

.nav__icon::before{
   content: "";
   bottom: 0;
   position: absolute;
   width:0%;
   height: 3px;
   background-color: #B69874;
     transition: 0.5s;
}

.nav__icon:hover::before{
    width: 100%;
}

.nav__icons{
    margin-left: 200px;
    display: flex;
 
}

.nav__line{
    height: 2px;
    width: 30px;
    background-color: black;
    display: block;
    margin: 4px;
}


.nav__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}



/* HEADER */




.header__left{
    margin-top: 126px;
}

.header__description{
    color:  #A58054;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--RoboM);
    font-style: normal;
}

.header__name{
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    width: 500px;
}    

.header__about{
    color: #646464;
    margin-top: 26px;
    font-family: var(--PoppR);
    width: 503px;
    font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.header__about-price{
    margin-bottom: 2px;
    margin-top: 49px;
    font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #B69874;
}

.header__price{
    font-weight: 600;
font-size: 26px;
line-height: 39px;
}

.header__link{
    display:inline-block ;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: white;
padding: 19px 58px;
background: #1B3544;
margin-top: 42px;
transition: 0.5s;
}

.header__link:hover{
    color: #1B3544;
    background: #E5E5E5;
}


.header__in-container{
    display: flex;
    justify-content: space-between;
  
}


.header__img{
  width: 562px;
    height: 562px;
    display: block;
    margin-top: 56px;
}


.small-block{
    
    margin-bottom: 53px;
    width: 115px;
    text-align: center;
}

.header__right-text{
    margin-top: 15px;
    color: #1B3544;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}


.small__elements{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 135px;
}


/* FOOTER */

.footer{
 
  background: #1B3544;
}


.footer__img{
    margin-top: -112px;
}

.footer__main-about{
    margin-top: 33px;
    margin-bottom: 17px;
    color: white;
    font-weight: 400;
font-size: 32px;
line-height: 42px;
}

.footer__main{
    width: 330px;
}

.footer__main-description{
    font-weight: 400;
font-size: 12px;
line-height: 22px;
color: white;
}

.footer__main-line{
    margin-top: 26px;
    margin-bottom: 34px;
    height: 2px;
    width: 330px;
    background: rgba(255, 255, 255, 0.13);
}

.footer__in-container{
    display: flex;
    justify-content: space-between;
}


.footer__end-block1{
    margin-right: 33px;
    display: flex;
    align-items: center;

}

.footer__end-block1-about{
    margin-right: 8px;
    font-weight: 400;
font-size: 30px;
line-height: 40px;
color: white;
}

.footer__end-block1-description{
    font-weight: 400;
font-size: 12px;
line-height: 16px;
color: white;
}

.footer__end-block{
    margin-bottom: 55px;
    display: flex;
}

.footer__end-block2-line{
    margin-right: 29px;
    width: 2px;
    height: 51px;
   background: white;
}


.footer__end-block2-about{
    font-weight: 500;
font-size: 14px;
line-height: 21px;
color: white;
margin-bottom: 6px;
}

.footer__end-block2-description{
    font-weight: 400;
font-size: 10px;
line-height: 15px;
color: white;
}

.footer__end-block2{
    display: flex;
}

.footer__end-block2-img{
    margin-right: 31px;
    width: 116px;
    height: 36px;
}

.footer__end-block2-block{
    display: flex;
    flex-direction: column;
}


.footer__end{
    margin-top: 41px;
}


